.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title
{
    align-items: center;
    text-align: center;
    font-weight: 500;
    padding-top: 40px;
    font-size: 3rem;
    color: azure;
}
.reset
{
    width: auto;
    height: auto;
    border:none;
    padding: 2%;
    background-color: rgb(180, 74, 92);
    color: azure;
    cursor: pointer;
    font-size: large;
    border-radius: 20%;
    margin-top: 5%;
}
.box
{
    display: flex;
    height: 100px;
    width: 100px;
    margin:0% 10%;
    background-color: azure;
    border: 4px solid rgb(180, 74, 92);
    border-radius: 30%;
    cursor: pointer;
}
.board
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.box img
{
    margin:20%;
}
.title img{
    height: 50px;
}
@media screen and (max-width: 768px) 
{
    .box
    {
        height: 80px;
        width:80px;
    }
    .title img
    {
        height: 40px;
    }
    
}